@charset "utf-8";
#spSocialBookmark {
	margin:20px auto 0 auto;
}

#spSocialBookmark.spArticleBottomBox{
	margin:0;
}

#spSocialBookmark ul{
	margin: 0;
	padding: 0;	
}

#spSocialBookmark li{
	float: left;
	list-style: none;
	margin: 0 0 0 4px;
	padding:0;
}

#spSocialBookmark li img{
	padding: 1px;
	border: solid 1px #ccc;
}

#spSocialBookmark li a{
	font-size: 0.8333em;
}

#spSocialBookmark .spFirst {
	margin-left:0 !important;
}

#spSocialBookmark.spArticleBottomBox .spSocialBookmarkDe li{
	margin-left: 13.4px;
}
#spSocialBookmark.spArticleBottomBox .spSocialBookmarkEn li{
	/* margin-left: 30.2px; */
}
