@charset "utf-8";

.nav {
	text-align:right;
	margin-top:10px;	
}

.errors {
	border:thin solid red; 
	background-color:#FFD9DD;	
}

.message {
	border:thin solid red; 
	background-color:#FFD9DD;	
	padding:10px;
	margin-bottom:10px;
}

.info {
	border:thin solid blue; 
	background-color:#EEEEEE;	
	padding:10px;
	margin-bottom:10px;
}	
	
#searchfilter {
	float:right;
	text-align: left;
	margin-bottom: 10px;
}

.float_clear {
	float: clear;
	margin-bottom:60px;
}

table.list {
	text-align:left;
	width: 100%;
	margin-bottom:10px;
	border-spacing:0px;
	border:thin solid green; 
}

table.list tr {
	padding:10px;
}	 

table.list tr.even {
	background-color:#FFFFFF;
}

table.list tr.odd {
	background-color:#EEEEEE;
}

table.list th {
	text-align:left;
	background-color:#98D15C;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}

table.list td{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}

table.list td.center{
	text-align:center;	
}

table.list td.right{
	text-align:right;	
}

table.list td.full{
	width:100%;	
}

table.list td.value{
	width:100%;	
}

table.list input[type=text] {
	width:100%;
}

.debug {
	display:none;
}


#caption{
	position:relative;
	float:right;
	text-align:left;
	margin-top:10px;
	border-spacing:0px;
	border:thin solid green; 
	width:150px;
}