/* 
    Document   : tagcloud
    Created on : 23.07.2010, 21:03:44
    Author     : Rachid
    Description:
        TagCloud Style
*/

#tc_tagcloud {
	border:1px solid #000;
	padding:10px 5px;
	margin-top:-5px;
	background-color:#eee;
}

#tc_tagcloud a{
	color:#11c;
	text-decoration:none;
	margin-right:5px;
}

#tc_tagcloud a:hover, #tagcloud a:active {
	color:#254117;
	text-decoration:underline;
}
